.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  column-gap: 20px;
  row-gap: 25px;
}

.grid-item {
  position: relative;
  &:hover .overlay {
    opacity: 1;
  }
}

.image {
  width: 200px;
  border-radius: 10px;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  opacity: 0;
  background-color: rgb(37, 35, 54);
  transition: 500ms ease-out;
}

.button {
  position: absolute;
  left: 60px;
  bottom: 92px;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: auto;
  }
}
